<div class="panel panel-default">
  <h1 class="panel-heading">Expired Tasks</h1>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Time since expiration</th>
        </tr>
      </thead>

        <tbody>
          <tr ng-repeat="item in expired.todoItem" ng-show="expired.shouldHide(item)||item.completed">
            <td>{{ item.name }} </td>
            <td>{{ item.created_at|TimeSinceExpiration }}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
